<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<div th:fragment="header" style="position: relative; padding: 10px; display: flex; justify-content: space-between; align-items: center;">
    <div style="display: flex; gap: 20px;">
        <a href="/admin/view/reserve">Управление резервациями</a>
        <a href="/admin/userList">Управление пользователями</a>
    </div>

</div>

<h2>Вы можете добавить книгу:</h2>

<form th:method="POST" th:action="@{/admin}" th:object="${book}">
    <label for="title">Title: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
    <br/>

    <label for="author">Author: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</div>
    <br/>

    <label for="isbn">ISBN: </label>
    <input type="text" th:field="*{isbn}" id="isbn"/>
    <div style="color:red" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">ISBN Error</div>
    <br/>

    <label for="publishedYear">Published Year: </label>
    <input type="number" th:field="*{publishedYear}" id="publishedYear" min="1000" max="9999" required/>
    <div style="color:red" th:if="${#fields.hasErrors('publishedYear')}" th:errors="*{publishedYear}">Published Year Error</div>
    <br/>

    <label for="category">Category: </label>
    <div style="color:red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Category ID Error</div>
    <select th:field="*{category}" id="category">

        <option value="">Select category</option>

        <option th:each="category : ${categories}"
                th:value="${category.getId()}"
                th:text="${category.getTitle()}"></option>
    </select>

    <br>

    <label for="description">Description: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description Error</div>
    <br/>

    <input type="submit" value="Create Book"/>
</form>
</body>
</html>