<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div th:insert="~{fragment :: header}" class="bg-white shadow-md">
</div>

<div th:fragment="header">
    <div class="bg-white shadow-md">
        <a href="/admin/view/reserve" class="bg-gray-100">Управление резервациями</a>
        <a href="/admin/userList" class="bg-gray-100">Управление пользователями</a>
    </div>
</div>

<div class="container mx-auto p-6 mt-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4">Вы можете добавить книгу:</h2>

    <form th:method="POST" th:action="@{/admin}" th:object="${book}" class="space-y-4">
        <div>
            <label for="title" class="block mb-1">Title:</label>
            <input type="text" th:field="*{title}" id="title" class="border border-gray-300 rounded-md p-2 w-full" required />
            <div class="text-red-500" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
        </div>

        <div>
            <label for="author" class="block mb-1">Author:</label>
            <input type="text" th:field="*{author}" id="author" class="border border-gray-300 rounded-md p-2 w-full" required />
            <div class="text-red-500" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</div>
        </div>

        <div>
            <label for="isbn" class="block mb-1">ISBN:</label>
            <input type="text" th:field="*{isbn}" id="isbn" class="border border-gray-300 rounded-md p-2 w-full" required />
            <div class="text-red-500" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">ISBN Error</div>
        </div>

        <div>
            <label for="publishedYear" class="block mb-1">Published Year:</label>
            <input type="number" th:field="*{publishedYear}" id="publishedYear" min="1000" max="9999" required class="border border-gray-300 rounded-md p-2 w-full" />
            <div class="text-red-500" th:if="${#fields.hasErrors('publishedYear')}" th:errors="*{publishedYear}">Published Year Error</div>
        </div>

        <div>
            <label for="category" class="block mb-1">Category:</label>
            <select th:field="*{category}" id="category" class="border border-gray-300 rounded-md p-2 w-full">
                <option value="">Select category</option>
                <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getTitle()}"></option>
            </select>
            <div class="text-red-500" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Category ID Error</div>
        </div>

        <div>
            <label for="description" class="block mb-1">Description:</label>
            <input type="text" th:field="*{description}" id="description" class="border border-gray-300 rounded-md p-2 w-full" required />
            <div class="text-red-500" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>
        </div>

        <input type="submit" value="Create Book" class="bg-blue-500 text-white rounded-md p-2 w-full hover:bg-blue-600 transition duration-200 cursor-pointer" />
    </form>
</div>
</body>
</html>

