<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of books</title>
</head>
<body>
<h1>Список книг</h1>
<div th:insert="~{fragment :: header}"></div>
<h2 align="center">Search books in library "Duke"</h2>
<form method="get" th:action="@{/books/view/list}">
    <input name="title" placeholder="Find by Title" size="50" type="text" th:value="${title}">
    <button class="btn btn-info" type="submit">Search</button>
    <button class="btn btn-info" type="reset" name="title" value="">Reset</button>
</form>
<div th:if="${title.isEmpty()}">
<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.getId()}"></td>
        <td>
            <a th:href="@{/books/view/{id}(id=${book.getId()})}">
                <span th:text="${book.getTitle()}"></span>
            </a>
        </td>
        <td th:text="${book.getAuthor()}"></td>
        <td th:text="${book.category != null ? book.category.title : 'нет категории'}"></td>
    </tr>
</table>
</div>
<div th:if="${!title.isEmpty()}">
<table border="1">
<tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Category</th>
</tr>
<tr th:each="book : ${title}">
    <td th:text="${book.getId()}"></td>
    <td>
        <a th:href="@{/books/view/{id}(id=${book.getId()})}">
        <span th:text="${book.getTitle()}"></span>
        </a>
    </td>
    <td th:text="${book.getAuthor()}"></td>
    <td th:text="${book.category != null ? book.category.title : 'нет категории'}"></td>
</tr>
</table>
</div>
<div th:if="${books != null && books.size() == 0 && title != null && !title.isEmpty()}">
    <h2>Книги не найдены по запросу: <span th:text="${title}"></span></h2>
</div>
</body>
</html>