<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Reports</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Description</th>
    </tr>
    <tr th:each="report : ${reports}">
        <td th:text="${report.getId()}"></td>
        <td th:text="${report.getStatus()}"></td>
        <td>
            <a th:href="@{/reports/view/{id}(id=${report.getId()})}" th:text="Click"></a>
        </td>
    </tr>
</table>
</body>
</html>